
@font-face {
  font-family: 'RadioStars';
  src: url('RadioStars.eot?#iefix') format('embedded-opentype'),  url('RadioStars.woff') format('woff'), url('RadioStars.ttf')  format('truetype'), url('RadioStars.svg#RadioStars') format('svg');
  font-weight: normal;
  font-style: normal;
}
